body {
  background-color: #f4f6f8;
}

.card-title {
  color: #0d6efd;
}

footer h5 {
  font-weight: bold;
}


#map {
  height: 300px;
  width: 100%;
}

#asideCarousel {
  position: absolute;   
  right: 0;
  align-items: center;           
  width: 30%;        
  height: 100vh;     
  background-color: #000000; 
  overflow: hidden;  
}

#asideCarousel img {
  height: 100vh;
  margin: 1px;     
  object-fit: cover;   
}

.map-div {
  position: absolute;
  width: 56%;
  left: 100px;
  margin-bottom: 300px;
  bottom: -350px;
}


/******************************* hechas a mano 100% tu mamá y sin IA *******************************/
.user-button {
  background: radial-gradient(circle, #0d6efd, rgb(47, 6, 172));
  color: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;

  margin-left: 20px;
}

.user-button:hover {
  transition: 0.1s;
}

.user-button_invisible {
  opacity: 0;
}

.form_visible {
  opacity: 0;
  z-index: -2;
}

.form_style {
  color: black;
}

.pantalla {
  width: 100vh;
  height: 100vh;
  z-index: -1;
}